@import "../../public/assets/css/style.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


.filter_price .tow_bar_block,
.filter_age .tow_bar_block,
.filter_radius .tow_bar_block {
    position: relative;
    background: #ECECEC;
    height: 5px;
    border-radius: 5px;
}

.filter_price .tow_bar_block .progress,
.filter_age .tow_bar_block .progress,
.filter_radius .tow_bar_block .progress {
    position: absolute;
    height: 5px;
    background: #000;
    left: 1px;
    right: 1px;
}

.filter_price .range_input,
.filter_age .range_input,
.filter_radius .range_input {
    position: relative;
}

.filter_price .range_input .input,
.filter_age .range_input .input,
.filter_radius .range_input .input {
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    pointer-events: none;
    appearance: none;
}

.filter_price .range_input .input::-webkit-slider-thumb,
.filter_age .range_input .input::-webkit-slider-thumb,
.filter_radius .range_input .input::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    outline: none;
    pointer-events: auto;
    -webkit-appearance: none;
    background: #000;
}

.hero-slider .swiper {
    width: 400px;
    height: 600px;
}

.hero-slider .swiper-slide {
    border-radius: 18px;
    color: #fff;
}

.hero-slider .swiper-slide {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.04' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}


.nav_link.active::after {
    background-color: #1d71b8;
    content: "";
}

